<h2>Encerrar Ordem de Serviço</h2>
<br />
<br />

<dl class="card">
  <dt>
    <h3>Detalhes da <%= ServiceOrder.model_name.human %>: <%= @started_order.service_order.code %></h3>
  </dt>
  <div>
    <dd>
      <strong><%= ServiceOrder.human_attribute_name(:from) %>: </strong>
      <%= @started_order.service_order.from %>
    </dd>
    <dd>
      <strong><%= ServiceOrder.human_attribute_name(:to) %>: </strong>
      <%= @started_order.service_order.to %>
    </dd>
    <dd>
      <strong><%= ServiceOrder.human_attribute_name(:distance) %>:  </strong>
      <%= @started_order.service_order.distance %>Km
    </dd>
    <dd>
      <strong><%= ServiceOrder.human_attribute_name(:recipient) %>:  </strong>
      <%= @started_order.service_order.recipient %>
    </dd>
    <dd>
      <strong><%= ServiceOrder.human_attribute_name(:product_code) %>:  </strong>
      <%= @started_order.service_order.product_code %>
    </dd>
    <dd>
      <strong>Dimensões:  </strong>
      <%= @started_order.service_order.width %>cm x <%= @started_order.service_order.height %>cm x <%= @started_order.service_order.depth %>cm
    </dd>
    <dd>
      <strong><%= ServiceOrder.human_attribute_name(:weight) %>:  </strong>
      <%= @started_order.service_order.weight %>Kg
    </dd>
    <dd>
      <strong><%= ServiceOrder.human_attribute_name(:transport_mode_id) %>:  </strong>
      <%= @started_order.transport_mode.name %>
    </dd>
    <dd>
      <strong><%= ServiceOrder.human_attribute_name(:vehicle_id) %> placa:  </strong>
      <%= @started_order.vehicle.plate %>
    </dd>
    <dd>
      <strong><%= ServiceOrder.human_attribute_name(:total_value) %>:  </strong>
      <%= number_to_currency(@started_order.total_value) %>
    </dd>
       <dd>
      <strong>Iniciado em:  </strong>
      <%= I18n.localize(@started_order.created_at.to_date) %>
    </dd>
    <dd>
      <strong><%= ServiceOrder.human_attribute_name(:delivery_time) %>:  </strong>
      <%= @started_order.delivery_time %>h
    </dd>
    <dd>
      <strong><%= StartedOrder.human_attribute_name(:delivery_day) %>:  </strong>
      <%= I18n.localize(@started_order.delivery_day) %>
    </dd>
    <dd>
      <strong><%= ServiceOrder.human_attribute_name(:status) %>:  </strong>
      <%= I18n.translate(@started_order.status) %>
    </dd>
  </div>
</dl>


<div>
  <% if @started_order.delayed? %>
    <%= form_with(url: service_order_started_order_concluded_path(@service_order.id, @started_order.id))  do |form| %>
      
      <strong><%= form.label 'Justificativa de atraso' %></strong><br />
      <%= form.text_area :comment %>
      <br />

      <%= form.submit 'Confirmar' %>
    <% end %>
  <% end %>
</div>