<h2>Ordens de Serviço Iniciadas</h2>

<% @started_orders.each do |started_order|%>
  <dl class="card">
    <dt><strong><%= ServiceOrder.human_attribute_name(:code) %>: </strong>
    <%= started_order.service_order.code %></dt>

    <dd><strong><%= ServiceOrder.human_attribute_name(:recipient) %>: </strong>
    <%= started_order.service_order.recipient %></dd>

    <dd><strong><%= ServiceOrder.human_attribute_name(:status) %>: </strong>
    <%= I18n.translate(started_order.service_order.status) %></dd>
  </dl>

<% end %>