<h2>Prazo de Entrega</h2>
<br />
<%= link_to('Cadastrar Prazo de Entrega', new_deadline_path) %>

<table>
  <thead>
    <tr>
      <th>Distância   </th>
      <th>|   Prazo </th>
      <th>|   Modalidade de Transporte</th>
      <% if current_user.administrator?%>
        <th>| Editar</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @deadlines.each do |time| %>
      <tr>
        <td><%= time.start%>Km   -   <%= time.limit%>Km</td> 
        <td>| <%= time.time %>h</td>
        <td>| <%= link_to time.transport_mode.name, time.transport_mode %></td>
        <% if current_user.administrator?%>
          <td>
              |  <%= link_to 'Editar', edit_deadline_path(time.id) %>
          <td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>