<h2>Esqueceu sua Senha?</h2>
<br />

<div class="container">
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="row mb-3">
      <%= f.label :email, for:"colFormLabel", class:"col-sm-2 col-form-label" %><br />
      <div class="col-sm-8">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", type:"email", class:"form-control", id:"colFormLabel", placeholder:"@sistemadefrete.com.br" %>
      </div>
    </div>
    <br />
    
    <div class="actions">
      <%= f.submit "Envie-me instruções de redefinição de senha", class:"btn btn-primary" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
<div>