<br />
<div>
  <%= form_with(url: search_service_orders_path, method: :get) do |f| %>
    <%= f.label :query, 'Buscar Ordem de Serviço' %>
    <%= f.text_field :query %>
    <%= f.submit 'Buscar' %>
  <% end %>
</div>
<br />
<br />

<div>
  <%= image_tag 'principal.jpeg', class:"img-fluid" %>
</div>
<br />

<h2>Modalidades de Transporte</h2>

<% if @transport_modes.empty? %>
  <p>Nenhuma Modalidade de Transporte cadastrada.</p>
<% end %>

<%= link_to'Cadastrar Nova Modalidade', new_transport_mode_path, class:"btn btn-link"%>

<div class="row align-items-start">
  <div class="row justify-content-between">
    <% @transport_modes.each do |mode| %>
      <dl class="card" style="width: 18rem;">
        <dt><h4><%= link_to mode.name, mode, class:"card-body" %></h4></dt>
        <dd>
          <strong><%= TransportMode.human_attribute_name(:minimum_distance) %>:  </strong>
          <%= mode.minimum_distance %>Km
        </dd>
        <dd>  
          <strong><%= TransportMode.human_attribute_name(:maximum_distance) %>:  </strong>
          <%= mode.maximum_distance %>Km
        </dd>
        <dd>
          <strong><%= TransportMode.human_attribute_name(:status) %>:  </strong>
          <%= I18n.translate(mode.status) %>
        </dd>
      </dl>
    <% end %>
  </div>
</div>