<h2>Modalidades de Transporte</h2>

<% if @transport_modes.empty? %>
  <p>Nenhuma Modalidade de Transporte cadastrada.</p>
<% end %>

<%= link_to'Cadastrar Nova Modalidade', new_transport_mode_path, class:"btn btn-link"%>

<% @transport_modes.each do |mode| %>
  <dl class="card" style="width: 18rem;">
    <dt><strong><%= link_to mode.name, mode, class:"card-body" %></strong></dt>
    <dd>
      Distância mínima: <%= mode.minimum_distance %>Km
    </dd>
    <dd>  
      Distância máxima: <%= mode.maximum_distance %>Km
    </dd>
    <dd>
      Status: <%= I18n.translate(mode.status) %>
    </dd>
  </dl>
<% end %>