<h2>Editar <%= TransportMode.model_name.human %></h2>

<% if(@transport_mode.errors.any?) %>
  <p>Verifique os erros: </p>
  <ul>
    <% @transport_mode.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<% if @transport_mode.active? %>
  <div>
    <%= button_to 'Desativar', inactive_transport_mode_path(@transport_mode.id)%>
  </div>
<% end %>
<br />

<% if @transport_mode.inactive? %>
  <div>
    <%= button_to 'Ativar', active_transport_mode_path(@transport_mode.id)%>
  </div>
<% end %>
<br />

<%= render 'form' %>

