<dl>
  <dt>
    <h2><%= TransportMode.model_name.human %>: <%= @transport_mode.name %></h2>
  </dt>
  <div>
    <dd>
      <strong><%= TransportMode.human_attribute_name(:minimum_distance) %>: </strong>
      <%= @transport_mode.minimum_distance %>Km
    </dd>
    <dd>
      <strong><%= TransportMode.human_attribute_name(:maximum_distance) %>: </strong>
      <%= @transport_mode.maximum_distance %>Km
    </dd>
    <dd>
      <strong><%= TransportMode.human_attribute_name(:minimum_weight) %>:  </strong>
      <%= @transport_mode.minimum_weight %>Kg
    </dd>
    <dd>
      <strong><%= TransportMode.human_attribute_name(:maximum_weight) %>:  </strong>
      <%= @transport_mode.maximum_weight %>Kg
    </dd>
    <dd>
      <strong><%= TransportMode.human_attribute_name(:fixed_value) %>:  </strong>
      R$ <%= @transport_mode.fixed_value %>
    </dd>
    <dd>
      <strong><%= TransportMode.human_attribute_name(:status) %>:  </strong>
      <%= I18n.translate(@transport_mode.status) %>
    </dd>
  </div>
</dl>

<div>
  <%= link_to 'Editar', edit_transport_mode_path %>
</div>

<br />
<br />

<h3> <%= link_to 'Preços por Peso', weight_prices_path %></h3>
<%= link_to('Cadastrar Preço por Peso', new_weight_price_path) %>
<% if @transport_mode.weight_price.size > 0 %>
  <table>
    <thead>
      <tr>
        <th>Intervalo   </th>
        <th>|   Valor por Km</th>
      </tr>
    </thead>
    <tbody>
      <% @transport_mode.weight_price.each do |price| %>
        <tr>
          <td><%= price.initial_weight%>Kg  -  <%= price.ending_weight%>Kg</td> 
          <td>|   <%= number_to_currency(price.km_value) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %> 

<br />
<br />

<h3> <%= link_to 'Preços por Distância', distance_prices_path %></h3>
<%= link_to('Cadastrar Preço por Distância', new_distance_price_path) %>
<% if @transport_mode.distance_price.size > 0 %>
  <table>
    <thead>
      <tr>
        <th>Intervalo   </th>
        <th>|   Taxa</th>
      </tr>
    </thead>
    <tbody>
      <% @transport_mode.distance_price.each do |price| %>
        <tr>
          <td><%= price.initial_distance%>Km  -  <%= price.ending_distance%>Km</td> 
          <td>|   <%= number_to_currency(price.price) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %> 
