<h2>Ordens de Serviço Pendentes</h2>
<%= link_to 'Cadastrar Nova Ordem', new_service_order_path, class:"btn btn-link" %>
<br />
<br />


<ul class="nav nav-tabs">
  <li class="nav-item">
    <button class="nav-link active" aria-current="page"  type="button" data-toggle="collapse" data-target="#collapsePending" aria-expanded="false" aria-controls="collapsePending">
      Pendentes
    </button>
  </li>
  <li class="nav-item">
    <button class="nav-link" type="button" data-toggle="collapse" data-target="#collapseProgress" aria-expanded="false" aria-controls="collapseProgress">
      Iniciadas
    </button>
  </li>
</ul>

<div class="collapse" id="collapsePending">
  <div class="card card-body">
    <% @service_orders.each do |service_order|%>
      <% if service_order.pending? %>
        <dl class="card">
          <dt><strong><%= ServiceOrder.human_attribute_name(:code) %>: </strong>
          <%= link_to service_order.code, service_order %></dt>

          <dd><strong><%= ServiceOrder.human_attribute_name(:recipient) %>: </strong>
          <%= service_order.recipient %></dd>

          <dd><strong><%= ServiceOrder.human_attribute_name(:status) %>: </strong>
          <%= I18n.translate(service_order.status) %></dd>
        </dl>
      <% end %>
    <% end %>
  </div>
</div>
<div class="collapse" id="collapseProgress">
  <div class="card card-body">
    <% @started_orders.each do |started_order|%>
      <dl class="card">
        <dt><strong><%= ServiceOrder.human_attribute_name(:code) %>: </strong>
        <%= link_to started_order.service_order.code,  service_order_started_order_path(started_order.service_order.id, started_order.id) %></dt>

        <dd><strong><%= ServiceOrder.human_attribute_name(:recipient) %>: </strong>
        <%= started_order.service_order.recipient %></dd>

        <dd><strong><%= ServiceOrder.human_attribute_name(:status) %>: </strong>
        <%= I18n.translate(started_order.service_order.status) %></dd>
      </dl>
    <% end %>
  </div>
</div>