<h2>Iniciar Ordem de Serviço</h2>

<div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Modalidade de Transporte </th>
        <th>Valor Fixo</th>
        <th>Valor por Peso</th>
        <th>Valor por Distância</th>
        <th>Prazo</th>
        <th>Valor Total</th>
      </tr>
    </thead>
    <tbody>
      <% @transport_modes.each do |mode| %>
        <% x = 0 %>
        <% y = 0 %>
        <% z = 0 %>
        <tr>
          <td><%= mode.name %></td>
          <td><%= number_to_currency(mode.fixed_value) %></td>
          <% mode.weight_prices.each do |weight_price|%>
            <% if weight_price.initial_weight <= @service_order.weight && weight_price.ending_weight >= @service_order.weight %>
              <% x = (weight_price.km_value * @service_order.distance)%>
              <td><%= number_to_currency(x) %></td>
            <% end %>
          <% end %>
          <% mode.distance_prices.each do |distance_price|%>
            <% if distance_price.initial_distance <= @service_order.distance && distance_price.ending_distance >= @service_order.distance %>
              <% y = distance_price.price %>
              <td><%= number_to_currency(y) %></td>
            <% end %>
          <% end %>
          <% mode.deadlines.each do |deadline|%>
            <% if deadline.start <= @service_order.distance && deadline.limit >= @service_order.distance %>
              <td><%= deadline.time %>h </td>
            <% end %>
          <% end %>
          <td><%= number_to_currency(mode.fixed_value + x + y )%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br />
<br />

<div class="card">
  <dl>
    <dt>
      <h3><%= ServiceOrder.model_name.human %>: <%= @service_order.code %></h3>
    </dt>
    <div>
      <dd>
        <strong><%= ServiceOrder.human_attribute_name(:from) %>: </strong>
        <%= @service_order.from %>
      </dd>
      <dd>
        <strong><%= ServiceOrder.human_attribute_name(:to) %>: </strong>
        <%= @service_order.to %>
      </dd>
      <dd>
        <strong><%= ServiceOrder.human_attribute_name(:distance) %>:  </strong>
        <%= @service_order.distance %>Km
      </dd>
      <dd>
        <strong><%= ServiceOrder.human_attribute_name(:recipient) %>:  </strong>
        <%= @service_order.recipient %>
      </dd>
      <dd>
        <strong><%= ServiceOrder.human_attribute_name(:product_code) %>:  </strong>
        <%= @service_order.product_code %>
      </dd>
      <dd>
        <strong>Dimensões:  </strong>
        <%= @service_order.width %>cm x <%= @service_order.height %>cm x <%= @service_order.depth %>cm
      </dd>
      <dd>
        <strong><%= ServiceOrder.human_attribute_name(:weight) %>:  </strong>
        <%= @service_order.weight %>Kg
      </dd>
      <dd>
        <strong><%= ServiceOrder.human_attribute_name(:status) %>:  </strong>
        <%= I18n.translate(@service_order.status) %>
      </dd>
    </div>
  </dl>

  <%= form_with model: @service_order do |form| %>
    <div>
      <%= form.label :transport_mode_id %>
      <%= form.collection_select :transport_mode_id, @transport_modes, :id, :name %>
    </div><br />

    
    <%= form.submit %>
  <% end %>
</div>