<h2>Resultado da busca: <%= @search %> </h2>
<br />
<br />

<% @service_orders.each do |order| %>
<dl>
  <dt>
    <h2>Detalhes da <%= ServiceOrder.model_name.human %>: <%= order.code %></h2>
  </dt>
  <div>
    <dd>
      <strong><%= ServiceOrder.human_attribute_name(:from) %>: </strong>
      <%= order.from %>
    </dd>
    <dd>
      <strong><%= ServiceOrder.human_attribute_name(:to) %>: </strong>
      <%= order.to %>
    </dd>
    <dd>
      <strong><%= ServiceOrder.human_attribute_name(:recipient) %>:  </strong>
      <%= order.recipient %>
    </dd>
    <dd>
      <strong><%= ServiceOrder.human_attribute_name(:product_code) %>:  </strong>
      <%= order.product_code %>
    </dd>

    <% if order.progress? %>
      <dd>
        <strong><%= StartedOrder.human_attribute_name(:vehicle_id) %> placa:  </strong>
        <%= order.started_order.vehicle.plate %>
      </dd>
      <dd>
        <strong><%= ServiceOrder.human_attribute_name(:delivery_time) %>:  </strong>
        <%= order.started_order.delivery_time %>h
      </dd>
      <dd>
        <strong><%= ServiceOrder.human_attribute_name(:status) %>:  </strong>
        <%= I18n.translate(order.started_order.status) %>
      </dd>
      <dd>
        <strong>Iniciado em:  </strong>
        <%= I18n.localize(order.started_order.created_day) %>
      </dd>
      <dd>
        <strong><%= ServiceOrder.human_attribute_name(:total_value) %>:  </strong>
        <%= number_to_currency(order.started_order.total_value) %>
      </dd>
    <% else %>
      <p> Pedido ainda não foi iniciado. </p>
    <% end %>
   
    </div>
  </dl>
  <br />
<% end %>