<h2>Frota de Veículos</h2>

<br />

<div>
  <%= form_with(url: search_vehicles_path, method: :get) do |f| %>
    <%= f.label :query, 'Buscar Veículo' %>
    <%= f.text_field :query %>
    <%= f.submit 'Buscar' %>
  <% end %>
</div>

<br />

<% if @vehicles.empty? %>
  <p>Nenhuma Veículo cadastrado.</p>
<% end %>

<%= link_to 'Cadastrar Novo Veículo', new_vehicle_path, class:"btn btn-link" %>

<% @vehicles.each do |v| %>
  <dl class="card" style="width: 18rem;">
    <dt><h4><%= Vehicle.human_attribute_name(:plate) %>: 
    <%= link_to v.plate, v %></h4></dt>
    <dd>
      <strong><%= Vehicle.human_attribute_name(:weight_limit) %>: </strong>
      <%= v.weight_limit %>Kg
    </dd>
    <dd>
      <strong><%= Vehicle.human_attribute_name(:transport_mode) %>: </strong>
      <%= v.transport_mode.name %>
    </dd>
    <dd>
      <strong><%= Vehicle.human_attribute_name(:status) %>: </strong>
      <%= I18n.translate(v.status) %>
    </dd>
  </dl>
<% end %>