<%= form_with model: @distance_price do |form| %>
  <div>
    <%= form.label :initial_distance %>
    <%= form.number_field :initial_distance %>
  </div><br />

  <div>
    <%= form.label :ending_distance %>
    <%= form.number_field :ending_distance %>
  </div><br />

  <div>
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div><br />

  <div>
    <%= form.label :transport_mode_id %>
    <%= form.collection_select :transport_mode_id, @transport_modes, :id, :name %>
  </div><br />

  <%= form.submit %>
<% end %>