<h3>Tabelas de Preços por Distância</h3>
<br />
<%= link_to 'Cadastrar Preço por Distância', new_distance_price_path, class:"btn btn-link" %>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Intervalo   </th>
      <th>Taxa </th>
      <th>Modalidade de Transporte</th>
      <% if current_user.administrator?%>
        <th>| Editar</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @distance_prices.each do |price| %>
      <tr>
        <td><%= price.initial_distance%>Km   -   <%= price.ending_distance%>Km</td> 
        <td><%= number_to_currency(price.price) %></td>
        <td><%= link_to price.transport_mode.name, price.transport_mode %></td>
        <% if current_user.administrator?%>
          <td>
            <%= link_to 'Editar', edit_distance_price_path(price.id), class:"btn btn-link" %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>